.about-container{
    width: 100%;
    height: 100%;
    display : flex ;
    align-items: center;
    justify-content : center ;
}

.about-sections-container{
    width: 100%;
    height: calc(100% - 100px) !important;
    display : flex ;
    align-items: center;
    justify-content : flex-start ;
    flex-direction: row;
    box-sizing: border-box;
    position: relative;
}

.about-first-section{
    width: 16%;
    box-sizing:content-box;
    height: 100%;
    display : flex ;
    align-items: flex-start;
    justify-content : flex-start ;
    flex-direction: row;
    border-right: 1px solid var(--lines);
}



.about-first-section div:nth-child(1){
    width: 100%;
    height: 100%;
    display : flex ;
    align-items: flex-start;
    justify-content : flex-start ;
    flex-direction: column;
}

.about-dropdown-nav{
   width: 100%;
   height: 42px ;
   border-bottom: 1px solid var(--lines);
   box-sizing: content-box !important;
}

.about-dropdown-nav p{
    font-size: 16px;
    height: 100%;
    width: 100%;
    display : flex;
    align-items: center;
    justify-content : flex-start;
    padding-left: 15px;
    color: var(--white);
}

.about-second-section{
    width: 84%;
    box-sizing: border-box;
    height: 100%;
    display : flex ;
    align-items: flex-start;
    justify-content : center;
    flex-direction: row ;
    position: relative;
}

.spaces{
    margin-left: 55px;
}

.about-info{
    width : 50%;
    height : 100%;
    box-sizing:content-box;
    border-right: 1px solid var(--lines);
    display : flex ;
    align-items: center;
    justify-content : flex-start;
    flex-direction: column;
}

.about-info nav p{
    font-size: 16px;
    height: 100%;
    width: 100%;
    display : flex;
    align-items: center;
    justify-content : center;
    padding-left: 15px;
}

.about-info nav ,.about-codesnippet nav{
        width : 100% !important;
        height : 40px;
        border-bottom: 1px solid var(--lines);
        box-sizing: content-box !important;
}


.about-codesnippet{
    width : 50%;
    height : 100%;
    box-sizing:content-box;
    border-right: 1px solid var(--lines);
    display : flex ;
    align-items: flex-start;
    justify-content : center;
    flex-direction: column;
}



.about-codesnippet nav{
    display : flex ;
    align-items: center;
    justify-content : center;
    font-size: 16px;
}



.about-info-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: scroll;
}

.about-info-content::-webkit-scrollbar{
    display: none;
}

.about-info-content ol{
    width: 90% ;
    height : 100%;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 20px;
}

.about-info-content ol li{
    width: 100%;
    padding : 5px 0px;
}

.about-codesnippet-content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-codesnippet-codebox{
    width: 90%;
    height: auto !important;
    background-color: var(--darkblue);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding : 30px 0px;
}

.about-codesnippet-codebox p{
    width: 90%;
    font-size: 18px;
    text-align:left;
    padding : 3px 0px;
}

.new-quote:hover{
    cursor: pointer;
}

.quote-nav{
    height: 42px !important;
}

/* responsive css starts here */

@media screen and (max-width: 1030px) and (min-width: 750px){

    .body{
        scroll-snap-type: none !important;
    }

    #About-Me{
        width: 100%;
        height: auto !important;
    }

    .about-container{
        margin : 50px 0px;
    }

    .about-sections-container{
        flex-direction: column;
    }

    .about-first-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        border-top: 1px solid var(--lines);
    }

    .about-dropdown-nav p{
        justify-content :flex-start;
    }
    .sub-folders{
        align-items: flex-start !important;
    }

    .sub-folders p{
        margin-left: 2% !important;
    }

    .about-second-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        flex-direction: column !important;
    }
    .about-info{
        width: 100%;
        border-right: none !important;
    }
    .about-info nav p{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet{
        width: 100%;
        border : none ; 
        border-top: 1px solid var(--lines);
    }

    .about-codesnippet nav{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet-content{
        padding : 5% 0%;
    }
}

@media screen and (max-width: 750px) and (min-width: 450px){
    .body{
        scroll-snap-type: none !important;
    }

    #About-Me{
        width: 100%;
        height: auto !important;
    }

    .about-container{
        margin : 50px 0px;
    }

    .about-sections-container{
        flex-direction: column;
    }

    .about-first-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        border-top: 1px solid var(--lines);
    }

    .about-dropdown-nav p{
        justify-content :flex-start;
    }
    .sub-folders{
        align-items: flex-start !important;
    }

    .sub-folders p{
        margin-left: 2% !important;
    }

    .about-second-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        flex-direction: column !important;
    }
    .about-info{
        width: 100%;
        border-right: none !important;
    }
    .about-info nav p{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet{
        width: 100%;
        border : none ; 
        border-top: 1px solid var(--lines);
    }

    .about-codesnippet nav{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet-content{
        padding : 5% 0%;
    }
}

@media screen and (max-width: 450px) and (min-width: 380px){
    .body{
        scroll-snap-type: none !important;
    }

    #About-Me{
        width: 100%;
        height: auto !important;
    }

    .about-container{
        margin : 50px 0px;
    }

    .about-sections-container{
        flex-direction: column;
    }

    .about-first-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        border-top: 1px solid var(--lines);
    }

    .about-dropdown-nav p{
        justify-content :flex-start;
    }
    .sub-folders{
        align-items: flex-start !important;
    }

    .sub-folders p{
        margin-left: 2% !important;
    }

    .about-second-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        flex-direction: column !important;
    }
    .about-info{
        width: 100%;
        border-right: none !important;
    }
    .about-info nav p{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet{
        width: 100%;
        border : none ; 
        border-top: 1px solid var(--lines);
    }

    .about-codesnippet nav{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet-content{
        padding : 5% 0%;
    }

    .about-info-content ol{
        width: 90% !important;
        padding-left: 2% !important;
    }
    .about-codesnippet-codebox p{
        width: 80% !important;
    }
}

@media screen and (max-width: 380px){
    .body{
        scroll-snap-type: none !important;
    }


    #About-Me{
        width: 100%;
        height: auto !important;
    }

    .about-container{
        margin : 50px 0px;
    }

    .about-sections-container{
        flex-direction: column;
    }

    .about-first-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        border-top: 1px solid var(--lines);
    }

    .about-dropdown-nav p{
        justify-content :flex-start;
    }
    .sub-folders{
        align-items: flex-start !important;
    }

    .sub-folders p{
        margin-left: 2% !important;
    }

    .about-second-section{
        width: 100%;
        border-bottom: 1px solid var(--lines);
        flex-direction: column !important;
    }
    .about-info{
        width: 100%;
        border-right: none !important;
    }
    .about-info nav p{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet{
        width: 100%;
        border : none ; 
        border-top: 1px solid var(--lines);
    }

    .about-codesnippet nav{
        justify-content : flex-start;
        color : var(--white) !important;
    }

    .about-codesnippet-content{
        padding : 5% 0%;
    }
    .about-info-content{
        justify-content : center;
    }

    .about-info-content ol{
        width: 90% !important;
        list-style-type: none !important;
        padding-left: 3% !important;
        padding-right: 3% !important;
    }
    .about-codesnippet-codebox p{
        width: 80% !important;
    }
}


