.sub-folders a{
    text-decoration: none;
    color: var(--text);
    width: 100% !important;
    height: 100% !important;
    transition: all 0.3s ease;
}

.sub-folders a:hover{
    color: var(--white);
}

.contact-second-section{
    width: 84%;
    box-sizing: border-box;
    height: 100%;
    display : flex ;
    align-items: flex-start;
    justify-content : center;
    flex-direction: row ;
    position: relative;
}

.contact-info-content{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.contact-info-content::-webkit-scrollbar{
    display: none;
}

.contact-info-content form{
    width : 70%;
    height: auto;
}

.contact-info-content form div{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-info-content form div p{
    width : 100%;
    font-size: 16px;
    padding : 10px 0px;
    display: flex;
    justify-content: flex-start;    
    align-items: center;
}

.contact-info-content form div input , .contact-info-content form div textarea{
    width: 100%;
    height: 40px;
    color: var(--text);
    background-color: var(--darkblue);
    border: 1px solid var(--text);
    border-radius: 8px;
    padding-left: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    outline: none;
}

input[type=text]:focus {
    border: 2px solid var(--text);
    padding : 5px 15px;
  }
input[type=email]:focus {
    border: 2px solid var(--text);
    padding : 5px 15px;
  }
.textarea:focus {
    border: 2px solid var(--text);
    padding : 10px 15px;
  }

 textarea::-webkit-scrollbar{
    display: none;
  }

.contact-info-content form div textarea{
    height: 150px;
    resize: none;
}

input[type=submit]{
    width: auto !important;
    height: 40px;
    padding: 5px 15px !important;
    margin-top: 15px;
    font-size: 14px !important;
    background-color: #1C2B3A !important;
    color : var(--white) !important;
    border : none !important;
}

input[type=submit]:hover{
    cursor: pointer;
}

.contact-submit-result{
    width: 70%;
    height: auto;
}

.contact-submit-result p:nth-child(1){
    width : 100%;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    color : var(--white) !important;
}

.contact-submit-result p:nth-child(1) span{
    font-size: 24px !important;
}

.contact-submit-result p:nth-child(2){
    width : 100%;
    font-size: 18px;
    text-align: center;
    padding-bottom: 30px;
}

.contact-submit-result p:nth-child(3){
    width : 100%;
    font-size: 14px;
    text-align: center;
}

.contact-submit-result p:nth-child(3) button{
    width: auto !important;
    height: 38px;
    border-radius: 8px;
    padding: 5px 15px !important;
    background-color: #1C2B3A !important;
    color : var(--white) !important;
    border : none !important;
}

.contact-submit-result p:nth-child(3) button:hover{
    cursor: pointer;
}

.contact-dropdown-nav{
    height: 40px !important;
}

@media screen and (max-width: 1030px) and (min-width: 750px){
    #Contact-Me{
        width: 100%;
        height: auto !important;
    }

    form{
        margin : 10% 0%;
    }

    .contact-code{
        display: none !important;
    }

    .contact-submit-result{
        margin : 26% 0% !important;
    }
}


@media screen and (max-width: 750px) and (min-width: 450px){
    #Contact-Me{
        width: 100%;
        height: auto !important;
    }

    form{
        margin : 20% 0%;
        width: 90% !important;
    }

    .contact-code{
        display: none !important;
    }

    .contact-submit-result{
        margin : 26% 0% !important;
    }
}

@media screen and (max-width: 450px) and (min-width: 380px){
    #Contact-Me{
        width: 100%;
        height: auto !important;
    }

    form{
        margin : 20% 0%;
        width: 90% !important;
    }

    .contact-code{
        display: none !important;
    }

    .contact-submit-result{
        margin : 26% 0% !important;
    }
}


@media screen and (max-width: 380px){
    #Contact-Me{
        width: 100%;
        height: auto !important;
    }

    form{
        margin : 20% 0%;
        width: 90% !important;
    }

    .contact-code{
        display: none !important;
    }

    .contact-submit-result{
        margin : 26% 0% !important;
    }
}