.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid var(--lines);
  background-color: var(--background);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Footer-start-elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 15%;
}

.Footer-start-elements li {
  width: 20%;
  height: 100%;
  list-style: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid var(--lines);
  color: var(--text);
}

.Footer-start-elements li:nth-child(1) {
  width: 60%;
  padding-left: 2%;
}

.Footer-start-elements li a {
  color: var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.Footer-start-elements li a:hover {
  color: var(--white);
  cursor: pointer;
}

.Footer-start-elements li a i {
  transform: scale(1.3);
}

.Footer-end-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Footer-end-elements li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid var(--lines);
}

.Footer-end-elements li a {
  color: var(--text);
  padding: 0px 20px;
  text-decoration: none;
  transition: all 0.2s ease;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer-end-elements li a:hover {
  color: var(--white);
  cursor: pointer;
}

.Footer-end-elements li a i {
  transform: scale(1.5);
  padding-left: 10px;
}

/* responsive css for footer starts here   */

@media screen and (max-width: 1030px) and (min-width: 750px) {
  .Footer-start-elements {
    width: 40%;
  }
}

@media screen and (max-width: 750px) and (min-width: 450px) {
  .Footer-start-elements {
    width: 45%;
  }
}

@media screen and (max-width: 450px) and (min-width: 380px) {
  .Footer-start-elements {
    width: 60%;
  }

  .Footer-end-elements li a span {
    display: none;
  }

  .Footer-end-elements {
    width: 10%;
  }

  .Footer-end-elements li a i {
    padding: 0px;
  }
}

@media screen and (max-width: 380px) {
  .Footer-start-elements {
    width: 80%;
  }

  .Footer-start-elements li:nth-child(3) {
    border-right: none;
  }

  .Footer-end-elements li a span {
    display: none;
  }

  .Footer-end-elements {
    width: 20%;
  }

  .Footer-end-elements li a i {
    padding: 0px;
  }
}
