*{
    margin: 0;
    padding: 0;
}

.home-section-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-main-section{
    width: 100%;
    height: 60% ;
    display: flex ;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    position: relative;
}

.home-section-text{
    width: 50% ;
    height : 100% ;
    display: flex ;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}

.home-section-text-intro{
    width:80%;
    height: 50%;
    display: flex ;
    justify-content:center;
    align-items: flex-start;
    flex-direction: column;
    border : none !important;
}


.home-section-text-intro p:nth-child(1){
    font-size: 18px;
    color: var(--white);
}
.home-section-text-intro p:nth-child(2){
    font-size: 62px !important;
    color: var(--white);
    font-weight: 500;
    letter-spacing: 3px;
}
.home-section-text-intro p:nth-child(3){
    font-size: 32px;
    color: var(--blue);
}

.home-section-text-link{
    width:80%;
    height: 50%;
    display: flex ;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border : none !important;
    padding-top: 50px;
}

.home-section-text-link p a{
    text-decoration: none;
}

.home-section-text-link p:nth-child(1){
    font-size: 18px;
    padding: 5px 0px ;
    color: var(--text);
}
.home-section-text-link p:nth-child(2){
    font-size: 18px;
    padding: 5px 0px ;
    color: var(--text);
}
.home-section-text-link p:nth-child(3){
    font-size: 18px;
    padding: 5px 0px ;
}


.home-section-text-link p span:nth-child(1){
    color: var(--blue);
}
.home-section-text-link p span:nth-child(2){
    color: var(--green);
}
.home-section-text-link p span:nth-child(3){
    color: var(--white);
}
.home-section-text-link p span:nth-child(4){
    color: var(--saffron);
}

.saffron{
    color: var(--saffron);
}

.blue{
    color: var(--blue);
}

.purple{
    color: var(--purple);
}

.green{
    color: var(--green);
}

.yellow{
    color: var(--yellow);
}

.text{
    color: var(--text);
}

.pink{
    color: var(--pink);
}
.sky-blue{
   color: var(--sky-blue);
}

.home-section-snakegame{
    background: var(--darkblue);
    width: 40% ;
    height : 85% ;
    display: flex ;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-right: 5%;
}


.home-section-codesnippet{
     width: 90%;
        height: auto;
        font-size: 18px;
        color: var(--white);
display: flex;
justify-content: center;
align-items:flex-start;
flex-direction: column;
}

.home-section-codesnippet p{
    width: 100%;
    padding: 3px 0px;
}



 /* home page responsive css starts here  */

 @media screen and (max-width: 1030px) and (min-width: 750px){
    
    .home-section-snakegame{
        display: none;
    }

    .home-section-text{
        width: 100% ;
        align-items: flex-end;
    }

    .home-section-text-link p:nth-child(1){
        display: none;
    }

 }

 @media screen and (max-width: 750px) and (min-width: 450px){

     .home-section-snakegame{
        display: none;
    }

    .home-section-text{
        width: 100% ;
        align-items: center;
    }

    .home-section-text-link p:nth-child(1){
        display: none;
    }

    .home-section-text-intro p:nth-child(3){
        font-size: 22px;
        color: var(--green);
    }

    .home-main-section{
        height: 70% ;
    }

    .home-section-text-link{
        justify-content: center;
    }

 }

 @media screen and (max-width: 450px) and (min-width: 380px){
    .home-section-snakegame{
        display: none;
    }

    .home-section-text{
        width: 100% ;
        align-items: center;
    }
    
    .home-section-text-link p:nth-child(1){
        display: none;
    }

    .home-section-text-intro p:nth-child(3){
        font-size: 18px;
        color: var(--green);
    }

    .home-main-section{
        height: 70% ;
    }

    .home-section-text-link{
        justify-content: center;
    }
 }

 @media screen and (max-width: 380px){
    .home-section-snakegame{
        display: none;
    }

    .home-section-text{
        width: 100% ;
        align-items: center;
    }
    
    .home-section-text-link p:nth-child(1){
        display: none;
    }

    .home-section-text-intro p:nth-child(2){
        font-size: 55px  !important;
        color: var(--white);
    }
    .home-section-text-intro p:nth-child(3){
        font-size: 18px;
        color: var(--green);
    }

    .home-main-section{
        height: 70% ;
    }

    .home-section-text-link{
        justify-content: center;
    }

    .home-section-text-link p:nth-child(3){
        width: 200px ;
        height: 500px ;
        font-size: 18px;
        text-align: start;
    }

 }